@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin bef {
    content: '';
    display: block;
}


.selectItem.MuiMenuItem-root{
    font-family: 'semi'!important;
    font-feature-settings: 'case';
    font-size: 14px;
}

.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input{
    font-family: med;
}

.MuiTypography-root.makeStyles-heading-3.MuiTypography-body1{
    font-family: med;
    font-size: 18px;
}


body{
    transition: 0s;
}

.checkout-box{
    width: 1500px;
    margin:0 auto;
    margin-top: 80px;
    border-radius: 10px;
    // box-shadow: 0 0 20px rgba(0,0,0, .05);
    padding-bottom: 100px;
    &>h1{
        font-size: 36px;
        font-family: bold;
        text-align: center;
        margin-bottom: 70px;

    }


    .form-side{
    // box-shadow: 0 0 20px rgba(0,0,0, .05);
    // background-color: white;
    // padding: 0 30px;
    // height: fit-content;
    padding-right: 30px;
    border-radius: 10px;
    }

    .form-side-box{
        box-shadow: 0 0 20px rgba(0,0,0, .05);
        background-color: white;
        padding: 30px 30px;
        border-radius: 10px;
    }


    label{
        font-family: semi;
        font-feature-settings: 'case';
    }
    input{
        font-family: med;
    }

  

    .formControll{
        margin: 0;
        width: 100%;
    }


    form {
        margin-top: initial;
        h2 {
            font-size: 20px;
            color: #222;
            font-family: med;
            margin-bottom: 30px;
        }
    }

    .totalPriceBox{
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0,0,0, .05);
        margin-top: 0px;
        h2 {
            display: none;
            font-size: 20px;
            color: #222;
            font-family: med;
            margin-bottom: 30px;
        }
    
    }

    .productCard-prices{
        display: flex;
        flex-direction: column;

        &>p{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-feature-settings: 'case';
            font-family: med;
            margin-top: 20px;
            &:last-of-type{
                border-bottom: 1px solid rgb(202, 202, 202);
                padding-bottom: 10px;
            }
        }

        &>h3{
            font-feature-settings: 'case';
            font-family: med;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 19px;
        }
       

        .productCard{
            display: flex;
            flex-direction: column;
            overflow: auto;
            min-height: 300px;
            max-height: 500px;
            height: 100%;
    
            &::-webkit-scrollbar {
                width: 3px;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
        }

        .item{
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;

            p{
                font-size: 14px;
                color: #222;
                font-family: reg;
                &.quantity{
                    margin-bottom: 10px;
                }
            }

            div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5px 0;
                a{
                    font-size: 15px;
                    font-family: med;
                    font-feature-settings: 'case';
                    color: #222;
                    margin-bottom: 15px;
                    display: block;
                    &:hover{
                        color: #4b9bf7;
                    }
                }
            }
        }

      
        figure{
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 8px;
            // box-shadow: 5px 5px 10px rgba(0,0,0, .1);
            margin-right: 20px;
            background-color: white;
            @include flex();
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }

        img{
            width: 100%;
            height: 100%;
        }
    }


    .backToCart{
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #222;
        font-feature-settings: 'case';
        font-family: med;
        &:hover{
            color: #0566d2;
        }
        
        i{
            margin-right: 10px;
            transition: 0s;
        }

        
    }

    .btn-link-box{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .pay-btn{
        font-family: bold;
        font-feature-settings: 'case';
        font-size: 18px;
        background-color: #0566d2;
        color: white;
        &:hover{
            color: white;
            background-color: #4b9bf7;
        }

    }

    .inputBox{
        width: 100%!important;
        font-family: med;
    }
}




@media only screen and (max-width: 1600px) {
    .checkout-box {
        width: 90%;
    }
}



@media only screen and (max-width: 959px) {


    .checkout-box form h2{
        margin-left: 7px;
    }

    .checkout-box .form-side-box{
        padding: 20px 10px;
    }
    .checkout-box .form-side{
        padding: 0;
    }

    .checkout-box{
        padding-left: 10px;
        padding-right: 10px;
    }

    .MuiGrid-spacing-xs-2{
        margin: initial!important;
        // width: auto!important;
    }
    .checkout-box .totalPriceBox{
        margin-top: 60px!important;
    }
}
@media only screen and (max-width: 450px) {

    .checkout-box .backToCart{
        font-size: 0;
        i{
            font-size: 18px;
        }
    }
}
